/* COLOR SCHEME 
    Deep Purple: #1d1135;
    Navy Blue: #0c164f;
    Pink: #ba1e68;
    Bright Blue: #5643fd;
    Purple: #7649fe;
    Off White: #fcfbfe;
    Green: #1eba70;
*/

body, html {
    height: 100%;  
}

h1 {
    color: #fcfbfe;
}
  
body { 
    /* The image used */
    background-image: url(../images/cosmos-background.jpeg);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-row {
    padding: 15px;
}

#add-task-button {
    margin: 5px;
}

#date-row {
    padding: 0 30px;
}

#current-date {
    color: #fcfbfe;
    background-color: #1d1135;
    padding: 5px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.task-group {
    margin-top: 20px;
}

.list-group-item {
    /* From https://css.glass */
    background: rgba(29, 29, 29, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(12, 22, 79, 0.5);
    margin-bottom: 10px;
}

.assign-task,
.task-due-date {
    font-weight: bold;
}

.assign-task span,
.task-due-date span{
    font-weight: 300;
}

.list-group-item .task-title, 
.list-group-item .assign-task,
.list-group-item .task-due-date,
.list-group-item label {
    color: #fcfbfe;
}

.card-status button {
    margin-bottom: 5px;
    margin-right: 5px;
}

/* Overide Bootstrap Buttons */

/* primary button */
.btn-primary {
    background-color: #5643fd;
    color: #fcfbfe;
    border-color: #2911fc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color: #2911fc;
    border-color: #2911fc;
    color: #fcfbfe;
}

/* success button */
.btn-success {
    background-color: #13227b;
    color: #fcfbfe;
    border-color: #13227b;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active    {
    background-color: #10623b;
    border-color: #10623b;
    color: #fcfbfe;
}

/* info button */
.btn-info {
    background-color: #5016fe;
    color: #fcfbfe;
    border-color: #3901e0;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active    {
    background-color: #3901e0;
    color: #FFF;
    border-color: #3901e0;
}

/* danger button */
.btn-danger {
    background-color: #8e174f;
    color: #fcfbfe;
    border-color: #621037;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #621037;
    border-color: #621037;
    color: #fcfbfe;
}
